node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
build/
coverage/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
.venv
gcp-credentials.json
firebase-credentials.json
.tmp.drivedownload
.tmp.driveupload
# Python cache
__pycache__/